body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(45, 45, 45);
}

span{
  display: inline-block;
}

.text{
  font-family: "gb";
}

.canvas{
  font-size: 0;
}

@font-face {
  font-family: "gb";
  src: url("../rsc/font/gb.ttf");
}
