body{
  margin: 0;
}

select{
  background: none;
  border: none;
  outline: none;
}
option{
  background: inherit;
}


input[type=range]{
  -webkit-appearance: none;
}
input[type=range]:focus{
  outline: none;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

input[type=color]{
  -webkit-appearance: none;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
}
