body{
  margin: 0;
}

select{
  background: none;
  border: none;
  outline: none;
}
option{
  background: inherit;
}

input{
  -webkit-appearance: none;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type=range]:focus{
  outline: none;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}
