#interface{
  position: absolute;
  width: var(--engine_width);
  height: var(--engine_height);
}

#interface_menu{
  animation-name: animation_menu;
  animation-duration: 0.3s;
}

#menu_start, #menu_options{
  width: calc(var(--engine_height) * 0.2);
  margin-right: auto;
  margin-left: auto;
  padding: calc(var(--engine_height) * 0.015);
  text-align: center;
  font-family: "gb";
  color: rgb(125, 125, 125);
  user-select: none;
  transition: 0.1s linear;
}
#menu_start{
  margin-top: calc(var(--engine_height) * 0.205); /*engine.height - font_size of start and options*/
  font-size: calc(var(--engine_height) * 0.03);
}
#menu_options{
  font-size: calc(var(--engine_height) * 0.015);
}
#menu_start:hover, #menu_options:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}

.menu_stage{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "gb";
  color: rgb(125, 125, 125);
  user-select: none;
  transition: 0.1s linear;
}
.menu_stage:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}

#menu_score{
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "gb";
  color: rgb(125, 125, 125);
  user-select: none;
  transition: 0.1s linear;
}
