#options{
  height: calc(var(--engine_height) * 0.5);
  margin-top: calc(var(--engine_height) * 0.25);
  animation-name: animation_menu;
  animation-duration: 0.3s;
}

#options_left{
  display: inline-block;
  width: calc(var(--engine_height) * 0.07);
  height: 100%;
  margin-left: calc((var(--engine_width) * 0.5) - (var(--engine_height) * 0.45 + 64px));
}

#options_left > *{
  display: block;
  width: 100%;
  line-height: calc(var(--engine_height) * 0.07);
  margin-bottom: calc(var(--engine_height) * 0.004);
  text-align: center;
  background-color: rgb(55, 55, 55);
  border-radius: calc(var(--engine_height) * 0.004);
}
#options_left > *:hover{
  background-color: rgb(75, 75, 75);
}
#options_left > *.selected{
  background-color: rgb(75, 75, 75);
  margin-left: calc(var(--engine_height) * 0.03);
}

#options_left > * > *{
  vertical-align: middle;
}
#options_left > *:hover > *{
  filter: brightness(3);
}
#options_left > *.selected > *{
  filter: brightness(3);
}

#options_right{
  position: relative;
  display: inline-block;
  width: calc(var(--engine_height) * 0.7);
  height: 100%;
  margin-left: calc(var(--engine_height) * 0.06);
  overflow: auto;
  vertical-align: top;
  background-color: rgb(55, 55, 55);
  border-radius: calc(var(--engine_height) * 0.004);
}
#options_right::-webkit-scrollbar {
  width: calc(var(--engine_height) * 0.01);
}
#options_right::-webkit-scrollbar-track {
  background: rgb(60, 60, 60);
}
#options_right::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40);
}
#options_right::-webkit-scrollbar-thumb:hover {
  background: rgb(35, 35, 35);
}

#options_icon_close{
  position: absolute;
  right: 0;
}

#options_title{
  padding-left: 5%;
  line-height: calc(var(--engine_height) * 0.05);
  color: rgb(200, 200, 200);
  font-size: calc(var(--engine_height) * 0.015);
  background-color: rgb(40, 40, 40);
}

.options_right_container{
  margin-top: 2%;
  padding: 1%;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.3);
}

.options_right_container > *{
  width: 25%;
  margin: 0 5%;
}

.options_name{
  height: calc(var(--engine_height) * 0.03);
  line-height: calc(var(--engine_height) * 0.03);
  user-select: text;
}

.options_input_select{
  height: calc(var(--engine_height) * 0.03);
  color: rgb(200, 200, 200);
  text-align-last: center;
  background-color: rgb(40, 40, 40);
  border-radius: calc(var(--engine_height) * 0.004);
  transition: 0.1s linear;
}

.options_input_color{
  position: relative;
  height: calc(var(--engine_height) * 0.03);
  background-color: rgb(40, 40, 40);
  border-radius: calc(var(--engine_height) * 0.004);
}
.options_input_color:hover{
  cursor: pointer;
}
.options_input_color > span{
  line-height: calc(var(--engine_height) * 0.03);
  color: rgb(200, 200, 200);
}
.options_input_color > input{
  position: absolute;
  left: 0;
  height: 100%;
  visibility: hidden;
}

.options_input_key{
  line-height: calc(var(--engine_height) * 0.03);
  background-color: rgb(40, 40, 40);
  color: rgb(200, 200, 200);
  border-radius: calc(var(--engine_height) * 0.004);
}
.options_input_key:hover{
  cursor: text;
}

.options_icon_default_value{
  position: absolute;
  width: auto;
  margin-left: -5%;
}
.options_icon_default_value:hover{
  filter: brightness(3);
}

.options_input_range{
  height: calc(var(--engine_height) * 0.0075);
  width: 35%;
  vertical-align: middle;
  background: rgb(40, 40, 40);
  border-radius: calc(var(--engine_height) * 0.004);
}
.options_input_range::-webkit-slider-thumb{
  height: calc(var(--engine_height) * 0.03);
  width: calc(var(--engine_height) * 0.015);
  background: rgb(80, 80, 80);
  border-radius: calc(var(--engine_height) * 0.004);
}
.options_input_range::-webkit-slider-thumb:hover{
  cursor: grab;
}

.options_input_range_number{
  width: 7%;
  margin: 0;
  line-height: calc(var(--engine_height) * 0.015);
  vertical-align: middle;
  text-align: center;
  background: rgb(40, 40, 40);
  border-radius: calc(var(--engine_height) * 0.004);
}
