#options_panel_left{
  display: inline-block;
  width: 128px;
  height: 896px;
  margin: 92px 0 0 calc(50vw - 576px);
  background-color: rgba(55, 55, 55, 0.8);
  animation-name: animation_options;
  animation-duration: 0.3s;
}

#options_panel_left > *{
  padding: 16px 32px;
  border-bottom: 4px solid rgb(45, 45, 45);
  border-left: 0px solid rgb(45, 45, 45);
  transition: 0.1s linear;
}
#options_panel_left > *:hover{
  cursor: pointer;
  background-color: rgb(75, 75, 75);
}

#options_panel_left > *.active{
  background-color: rgb(75, 75, 75);
  border-left: 32px solid rgb(45, 45, 45);
}
#options_panel_left > *.active > *{
  filter: brightness(3);
}

#options_panel_left > * > *{
  transition: 0.1s linear;
}
#options_panel_left > *:hover > *{
  filter: brightness(3);
}

#options_panel_right{
  position: relative;
  display: inline-block;
  width: 768px;
  height: 896px;
  margin: 92px 0 0 64px;
  vertical-align: top;
  background-color: rgba(55, 55, 55, 0.8);
  animation-name: animation_options;
  animation-duration: 0.3s;
}

#options_title{
  display: block;
  margin-left: 16px;
  line-height: 64px;
  font-family: "gb";
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.options_name{
  width: 256px;
  line-height: 64px;
  margin: 64px 64px 0 32px;
  color: rgb(150, 150, 150);
  font-size: 18px;
}

.options_select{
  height: 64px;
  padding: 16px;
  background: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: 1px solid rgb(80, 80, 80);
}
